::-webkit-scrollbar-track {

    background: var(--navigation-frame);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 104, 154);
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}