::-webkit-scrollbar-track {
    background: var(--main2);

}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--main4);
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 104, 154);
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}