section.three {
    height: max-content;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 50px;
    transition: 0.4s;

}

.liner.big::before {
    content: "";
    background-color: var(--body);
    border: 3px solid var(--navigation);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.liner.big {
    width: 80%;
}

.liner.small {
    width: 60%;
    height: 3px;
}

.liner {
    position: relative;
    margin: 5px;
    height: 5px;
    background-color: var(--navigation);
    margin: 2px auto;
    border-radius: 10px;
}

section.three .sectionTitle {

    background-image: linear-gradient(315deg, var(--text-color), var(--square-button));

}

section.three .cont,
section.three .arrower {
    width: 100%;
    height: max-content;
    position: relative;
}

section.three .cont {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), black 25%, black 75%, rgba(0, 0, 0, 0));
}

section.three .card-container2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 15px;
    padding: 40px 0;
    transition: 0.3s;
}


.rage {}

section.three .card-container2 .card {
    height: max-content;

    background-color: var(--navigation);
    border-radius: 10px;
    font-size: 20px;
    min-width: calc(100%/3);
    transition: 0.3s;
    border: 2px solid rgba(0, 0, 0, 0.212);
    cursor: pointer;
    min-height: 250px;
    opacity: 0.4;
    position: relative;
}

section.three .card-container2 .card:hover {
    transition: 0.35s !important;
    background-color: var(--square-button) !important;
}

section.three .card-container2 .card:hover .stars {
    animation: fade-in 1s linear infinite alternate-reverse;
}


section.three .card-container2 .card.active {
    background-color: var(--lighter);
    transform: scale(1.05);
    z-index: 40;
    transition: 0s;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    opacity: 1;
}

section.three .card-container2 .card.active::before {
    content: "";
    background-image: url("crown.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 50px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 50%;
    animation: fade-in 1s linear 1;
    transform: translate(-50%, -50%);
    z-index: 30;
}

section.three .card-container2 .card .profile .hoverMessage::before {
    top: -10px;
    left: 0;
    transform: translate(0, -100%);
}

section.three .card-container2 .card .profile {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    cursor: pointer;
    background-image: linear-gradient(45deg, var(--navigation-frame), transparent);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.308);
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
}

section.three .card-container2 .card .date {

    width: 100%;
    opacity: 0.7;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

}

section.three .card-container2 .card .profile .stars {
    width: max-content;
    height: 100%;
    font-size: 13px;
    padding: 10px;
    gap: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    transition: 0.3s;
    overflow: hidden;
}

section.three .card-container2 .card .content {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.747);
    padding-left: 15px !important;
}

section.three .card-container2 .card>:not(.card-container2 .card .profile) {


    padding: 10px;

}







@media (min-width: 1100px) {}

@media (max-width: 1100px) {

    section.three {
        width: 100%;
    }


}

@media (max-width: 710px) {

    section.three .card-container2 .card {
        min-width: 25%;
    }

    section.three .card-container2 .card.active {

        min-width: 75%;
    }

    section.three .card-container2 {
        transform: translate(calc(-25%/2), 0);
    }

}

section.three .arrower .arrow {
    position: absolute;
    top: 50%;
    font-size: calc(14px + 3vw);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.342);
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    transform: translate(0, -50%);
    border: none;
    opacity: 0.7;
    transition: 0.3s;
    z-index: 20;
}

section.three .arrower .arrow:active {
    transform: translate(0, -50%) scale(1.2);
}

section.three .arrower .arrow:hover {
    opacity: 1;
}

section.three .arrower .left {

    left: 0;


}

section.three .arrower .right {
    right: 0;



}