section.two {
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

section.two .circle {
    transform: translate(-50%, 0);
    aspect-ratio: 1;
    min-width: max-content;
    border-radius: 50%;
    background-color: var(--navigation);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 150px;
}

section.two .circle span {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.39);
    padding: 20px;
    aspect-ratio: 1;
    background-color: var(--navigation-frame);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

section.two .pair {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    flex-wrap: nowrap;
    height: 150px;
    z-index: 20;
}

section.two .pair .line {

    position: relative;
    width: 90%;
    border-radius: 55px 0 55px 0;
    z-index: -1;
    height: 60px;
    padding-left: calc(250px /2);
    display: flex;
    align-items: center;
    font-size: 25px;
    letter-spacing: 5px;
    background-color: var(--square-button);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.39);
}

section.two .pair .line .bullet-fx {
    justify-content: flex-end;
    top: -15px;
    border-radius: 0px;
    width: calc(100% - 5px);
    z-index: -1;
}

section.two .pair .line .bullet-fx::before {
    top: 0;
    transform: rotate(180deg);
}

section.two .recentProjects[visible=false] {
    display: none;
}

section.two .recentProjects[visible=true] {
    display: flex;
    width: 100%;
    height: 60%;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;

}



section.two .recentProjects .container-card {
    position: relative;
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    background-color: var(--maindark2);
    opacity: 0;

    transition: 1s;
    overflow: visible;



}

section.two .recentProjects .container-card .scroller {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: visible !important;
    touch-action: pan-x !important;
    -webkit-overflow-scrolling: touch !important;
}

section.two .recentProjects .container-card .scroller.active {
    cursor: grabbing;
    filter: grayscale(0.3);
}

section.two .recentProjects .container-card::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    background-color: var(--body);
    border-radius: 0px 0 400px 0;
    z-index: 16;
}

section.two .recentProjects .container-card .scroller::-webkit-scrollbar {
    display: none;
    /* Optional: Hide scrollbars for a cleaner look */
}


section.two .recentProjects .container-card::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 100px;
    height: 100px;
    right: 0;
    transform: translate(0, -100%);
    background-color: var(--maindark2);
    z-index: 15;
}


section.two .recentProjects .container-card .overflow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: max-content;
    height: 100%;
    gap: 15px;

    width: max-content;
}

section.two .recentProjects .container-card .scroller::-webkit-scrollbar {
    height: 2px;
}


section.two .recentProjects .container-card .card {
    min-width: 300px;
    width: 25% !important;
    max-width: 25%;

    height: 100%;
    background-color: var(--card);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.445);
    border: 1px solid var(--maindark);
    position: relative;
    border-radius: 15px 0px;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
    transform: translate(0, -120%);
    display: none;
    cursor: grab;
    animation: fade-in-card 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes fade-in-card {

    0%,
    0% {
        transform: translate(0, -120%);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
    }

}



section.two .recentProjects .container-card .card .details p {

    opacity: 0.8;
}

section.two .recentProjects .container-card .card .details {
    padding: 15px;
    height: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
}

section.two .recentProjects .container-card .card .details .group {
    width: 100%;
}

section.two .recentProjects .container-card .card .details .group:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

section.two .recentProjects .container-card .card .details .date {
    opacity: 0.7;
    font-size: 14px;
    width: max-content;
    height: max-content;
    text-align: center;
}

section.two .recentProjects .container-card .card .details button:hover {
    background-color: var(--text-color);
}

section.two .recentProjects .container-card .card .details button {
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
}

section.two .recentProjects .container-card .card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    position: relative;
    background-size: auto 100%;
    transition: 0.4s;
    background-color: var(--avrgcolor);
    filter: hue-rotate(270deg) !important;

}

section.two .recentProjects .container-card .card::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;

    background-image: linear-gradient(to bottom, rgb(10, 11, 12), transparent);
    z-index: 10000;
}



section.two .recentProjects .container-card .card:active {
    cursor: grabbing;
}

section.two .recentProjects .container-card .card:hover {
    border-color: var(--glow);
    width: 25% !important;

}

section.two .recentProjects .container-card .card:hover img {
    height: 100px;
    transform: scale(3);
    filter: hue-rotate(270deg) blur(5px) !important;

}


section.two .recentProjects .container-card .card:hover .details {
    background-color: var(--square-button);
    height: calc(100% - 100px);
    transform: translate(0, 0);

}

section.two .recentProjects .container-card .card .details .more-info {
    padding: 10px 0;
    display: none;
    /* Ensure it's visible */
    width: 250px;
    /* Take full width of parent */
    overflow: hidden;
    /* Hide overflow */
    word-wrap: break-word;
    /* Break long words */
    overflow-wrap: break-word;
    /* Break long words */
    text-overflow: ellipsis;
    /* Add ellipsis for overflowed text */
    white-space: normal;
    /* Ensure text wraps */
    box-sizing: border-box;
    height: 80%;
    /* Include padding and border in the width */
    animation: fade-in 0.3s linear 1;
}

section.two .recentProjects .container-card .card:hover .details .more-info.collapse {
    display: inline-block;
}

section.two .recentProjects .container-card .card .details .more-info.collapse button {
    opacity: 0.6;
    cursor: pointer;
    text-transform: capitalize;
    margin: 5px;
}

.uncollapse {
    height: 70px !important;
    padding: 5px 10px !important;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    margin: 5px 0;
    gap: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.034);
}

.tags span {
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    padding: 5px;
    border-radius: 3px;
}

section.two .recentProjects .container-card .card .details .more-info.collapse .more {
    height: 0;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    padding: 0px;
    margin: 5px 0;
    animation: fade-in 0.3s linear 1;
    overflow: hidden;
    font-size: 14px;
    overflow-y: auto;
}

section.two .recentProjects .container-card .card:hover::before {}

@media (max-width: 710px) {
    section.two .recentProjects .container-card {
        width: calc(100% - 15px);
    }
}


section.two .recentProjects .recentName {

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionTitle {


    font-size: 50px;
    color: transparent;
    text-align: center;
    background: linear-gradient(to right, var(--text-color), var(--navigation-frame));
    -webkit-background-clip: text;
    font-weight: 700;

}

section.two .recentProjects .recentName .adjectives {
    padding: 40px;
}

section.two .recentProjects .recentName .adjectives h4 {
    color: white;
    display: none;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 0 0 25px var(--text-color);
}


section.two.unhide .recentProjects .container-card {
    opacity: 1;
    width: 60% !important;


}

section.two.unhide .recentProjects .container-card .card {
    display: block;
    transform: translate(0, 0);
}

@keyframes fade-in-adj {
    0% {
        opacity: 0;
        transform: translate(-25%, 0);
    }

    100%,
    20% {
        opacity: 1;
        transform: translate(0%, 0);
    }
}


@media (max-width: 710px) {
    section.two {
        height: max-content;
    }

    section.two .recentProjects {
        flex-direction: column;
        height: max-content;
        margin-top: 100px;
        gap: 20px;
    }


    section.two .recentProjects .recentName {
        width: 100%;
    }

    section.two .recentProjects .container-card {
        min-width: 100%;
        width: 100% !important;
        min-height: 40vh;
        height: 55vh;
    }
}

section.two .recentProjects .container-card .card.disabled .details .more-info.collapse * {
    display: none !important;
}

section.two .recentProjects .container-card .card.disabled .title,
section.two .recentProjects .container-card .card.disabled p,
section.two .recentProjects .container-card .card.disabled .details .more-info.collapse {
    margin-top: 5px;
    border-radius: 10px;
    color: transparent !important;
    background-color: var(--text-color);
    width: max-content;
    user-select: none;
    position: relative;
    overflow: hidden;

    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 250px;
}

section.two .recentProjects .container-card .card.disabled img {
    filter: hue-rotate(270deg) grayscale(0.9) !important;
}

section.two .recentProjects .container-card .card.disabled .title::before,
section.two .recentProjects .container-card .card.disabled p::before,
section.two .recentProjects .container-card .card.disabled .title::after,
section.two .recentProjects .container-card .card.disabled p::after,
section.two .recentProjects .container-card .card.disabled .details .more-info.collapse::after,
section.two .recentProjects .container-card .card.disabled .details .more-info.collapse::before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.247);
    left: 0;
    top: 0;
    animation: mover 2s ease-in-out infinite !important;

}

section.two .recentProjects .container-card .card.disabled .title::after,
section.two .recentProjects .container-card .card.disabled p::after {
    width: 10px;
}

section.two .recentProjects .container-card .card.disabled .title::before,
section.two .recentProjects .container-card .card.disabled p::before,
section.two .recentProjects .container-card .card.disabled .details .more-info.collapse::before {
    animation-delay: 1.5s;
}


@keyframes mover {

    0% {
        left: 0;
        transform: skew(30deg) translate(-100%, 0);
    }

    40%,
    100% {
        left: 100%;
        transform: skew(30deg) translate(100%, 0);

    }

}